http:
  routers:
    vault-lan:
      rule: "Host(`${LAN_DOMAIN}`)"
      entryPoints:
        - websecure
      service: vault
      tls:
        certResolver: stepca
  services:
    vault:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:8080"
